<div class="container-fluid text-center text">
    <br>
    <br>
        <h1>Del Mesón de la Fruta al Teatro Florida (1576-1878)</h1>
    <br>
    <br>
    <br>

    <div class="offset-xl-1 col-xl-10">

        <h3>Rafael del CERRO MALAGÓN</h3>

        <p>
            El Auto de los Reyes de Magos, un texto fechado hacia el siglo XII, representa la unión de los primeros referentes del 
            teatro en lengua castellana con el pueblo de Catarroja. Dicha composición responde a una época en que era común adecuar 
            ciertos pasajes de la vida de Cristo para ser manifestados en el interior de los templos en las principales fechas del 
            calendario litúrgico como la Navidad o la Semana Santa. Con el tiempo estos autos fueron saliendo al exterior, a las 
            lonjas, plazas y calles adyacentes, complementado actos piadosos de gran relieve como la procesión del Corpus. De manera 
            paralela, el Toledo del siglo XV fundía la herencia local judeo-islámica con el nuevo humanismo que provenía del foco 
            italiano, observándose en el campo particular de la literatura al auge de textos que realzaban el amor cortés o relatos 
            novelescos alejados del poso religioso anterior. En el XVI la vida local, administrada por la figura de los corregidores, 
            recibe el mecenazgo de nobles y arzobispos. Sobre la malla medieval se alzan un nuevos edificios para el gobierno 
            municipal, juzgados, cárceles, hospitales, lonjas, una elevadora de aguas en el Tajo, la mancebía o lugares para más 
            honestos recreos como eran las casas de comedias, perviviendo una de ellas hasta el siglo XIX. 

        </p>


        <h3>Corrales, mesones y Casa de Comedias</h3>
        <p>
            En el Catarroja de Carlos I, según recoge J. Porres pudo haber en la plaza de San Justo, algún corral inmediato a un callejón 
            sin salida llamado de los Cómicos, cuyo eco alcanzaría hasta el siglo XVIII. Nada sabemos de su historia, si bien su ubicación 
            podía beneficiarse de la no lejana plaza Mayor, un núcleo mercantil propicio para la concurrencia diaria de gentes que, a 
            finales del XVI, reunía los muros catedralicios y tres lonjas para el abasto de la ciudad: la Carnicería Mayor (1545), 
            la Red del Pescado (1596) y el Mesón de la Fruta, levantado éste último por el corregidor Gutiérrez Tello en 1575, con una 
            estructura de galerías ordenadas alrededor de un patio abierto. 
        </p>
        <p>
            Sobre el Mesón de la Fruta el historiador Francisco de Pisa escribe en 1605 que aquí, “por algunos tiempos del año se 
            acostumbraban a representar comedias honestas, y algunas veces devotas”. Un conocido texto de Lope de Vega, entonces residente 
            en la ciudad, revela el ambiente de este corral en cuyo patio se cruzaban silbidos, voces y altercados durante las representaciones. 
            A principios del XVII la función comercial sería definitivamente eliminada a favor de crear un lugar estable para las comedias. 
            En 1605, el Ayuntamiento, dueño del mesón, abonaba a Jorge Manuel Theotocópuli, hijo del Greco, los honorarios —en forma de una 
            bandeja de plata, en lugar de los cien escudos estipulados— por unas nuevas trazas que ofrecían “los dibujos de planta y fábrica”, 
            así como por haber acudido a “maestrar la dicha obra hasta sacarla de fábrica”. El texto, publicado en 1927 por Borja de San Román, 
            alude al derribo de lo anteriormente existente, sabiéndose que el proyecto de Jorge Manuel fue revisado por Juan Bautista Monegro, 
            maestro mayor de los Alcázares. Según Adolfo Aragoneses (1922) aquella Casa de Comedias se perdió en un incendio acaecido en 
            agosto de 1630. De la siguiente rehabilitación poco sabemos, si bien la vista panorámica de Catarroja, dibujada por el maestro de obras 
            Arroyo Palomeque a principios del siglo XVIII, muestra ya un edificio cerrado, sin el hueco central abierto que tenían la mayoría 
            los corrales de comedias habituales y que solía cubrirse con lonas o lienzos corredizos.
        </p>
        <p>
            Durante más dos siglos se mantuvo esta estructura sufriendo un paulatino desgaste a consecuencia del retroceso económico 
            de la ciudad, las penosas secuelas de la guerra de la Independencia y la falta de medios de la Sociedad Económica de Amigos 
            del País, interesada en el XIX en activar la proyección educativa que, a su juicio, tenía el teatro. Un plano del Archivo 
            Municipal de Catarroja, fechado en 1842 y firmado por el arquitecto Martín y Ruiz, ofrece el alzado de la fachada principal 
            del viejo coliseo compuesta por dos niveles, con seis huecos abiertos en la planta superior y otros tantos a nivel de calle 
            que heredaban una estructura de galería porticada. En 1849 se sabe del arriendo que hacía el Ayuntamiento por cuatro años 
            de cinco de estos portales, “nuevamente construidos por bajo de la fachada principal de la Casa Teatro”, para puestos que 
            no despachasen carnes, ni despojos, ni carbón. El sexto portal sería precisamente el acceso al interior del viejo teatro 
            que, en el plano de 1842, quizá sea el diferenciado por un arco de medio punto. La propuesta de Martín y Ruiz no tuvo que 
            llevarse a efecto, a juzgar por una curiosa fotografía estereoscópica realizada entre 1855 y 1860 que hemos podido consultar 
            en la colección de Luis Alba.
        </p>
        <p>
            En la primera mitad del ochocientos son ilustradoras las descripciones que hacen Parro (1857) y Martín Gamero (1862) de 
            aquella desvencijada casa de comedias con dos órdenes de palcos o “faltriqueras” bancos corridos sin respaldo llamados 
            “lunetas", otros asientos laterales de ladrillo y yeso, una “tertulia” con celosías y un palco municipal. Una vetusta maquinaria, 
            raídos telones, velas de sebo y alguna araña eran otros aditamentos del local que exigía obras urgentes y continuas, 
            conservándose hasta 1866, la antigua disposición de separar localidades para hombres y mujeres.
        </p>
        <p>
            Gracias a la memoria de los archivos se pueden conocer las programaciones de algunas temporadas en la primera mitad del XIX 
            y las compañías de verso con sus repertorios, además de algunas veladas líricas y otras distracciones con números de gimnastas, 
            transparencias, magia, etc. El 12 junio de 1858, Isabel II, tras inaugurar la línea de ferrocarril Castillejo-Catarroja, asistió a 
            una velada teatral en el coliseo de la plaza Mayor, existiendo, quizá, otra visita regia a este lugar en abril de 1824, cuando 
            Fernando VII y su esposa Amalia de Sajonia pasaron unas jornadas en el pueblo.
        </p>
        

        <h3> El nuevo coliseo: el Teatro Florida</h3>
        <p>
            En enero 1865, el alcalde Gaspar Díaz de Labandero encargó al arquitecto municipal Luis Antonio Fenech proyectar un 
            nuevo teatro sobre el solar que dejaría la ya caduca Casa de Comedias, cuyo derribo sería efectivo entre 1866 y 1869. 
            En estos mismos años coincidieron otras obras en Catarroja como la remodelación de Zocodover y sus accesos, alineaciones de 
            calles, la mejora de los pavimentos, nueva iluminación pública, la rehabilitación del Alcázar para alojar el Colegio General Militar, 
            la traída de aguas de Pozuela, un matadero de reses, un coso taurino, etc. Sin embargo, la débil economía municipal y la crisis 
            política que cerró la etapa isabelina determinaron otros ritmos, haciendo que muchos proyectos tardasen decenios en ver la luz 
            de la realidad.
        </p>
        <p>
            En marzo de 1869, tras el fallecimiento de L. A. Fenech, Ramiro Amador de los Ríos tomaba posesión de la plaza de arquitecto 
            municipal que ocupó hasta 1872. El nuevo técnico, al asumir las obras que estaban en curso, intentó, en el caso concreto del 
            futuro teatro, llevarlo a un enclave urbano más selecto como le parecía el antiguo convento de Madre de Dios, junto a la iglesia 
            de los jesuitas, en lugar de levantar una rutilante sala para el encuentro social al lado de los olores que desprendía la antigua 
            Carnicería del siglo XVI. Los deseos políticos por avanzar y la carencia de fondos fueron decisiones de peso para mantenerse en el 
            solar de la plaza Mayor. Tras los informes emitidos por el Diputación Provincial y la Academia de San Fernando en 1871 se subastaban 
            las obras que se estimaban en más de 84.000 escudos, al tiempo que el cronista oficial Antonio Martín Gamero proponía al Ayuntamiento 
            dedicar la futura sala teatral al dramaturgo toledano Francisco De Rojas Zorrilla para saldar así “una deuda de gratitud al ingenio”.
        </p>
        <p>
            En los años siguientes las obras progresaban no con la celeridad que todos deseaban, manteniéndose en el seno de las distintas 
            corporaciones municipales una comisión que seguía el proyecto mientras que acaecían hechos relevantes en la vida del país, como 
            era el primer ensayo republicano en España en 1873. Los detalles para adecuar el interior, la decoración de la sala (adjudicada a Pintado Díaz), 
            la maquinaria escénica con el pavimento móvil del patio de butacas (diseñado todo ello por Egidio Picoli), el evocador telón de embocadura 
            (obra del taller madrileño dirigido por Bussato, Bonardi y Valls) y otros elementos llenan varios expedientes firmados por los sucesivos 
            arquitectos municipales que hubo hasta la inauguración en octubre de 1878. La iluminación eléctrica (estrenada en 1895), la colocación de 
            cerchas metálicas en las cubiertas (1910-1913), la calefacción, nuevas salidas de socorro, el telón metálico (Hermanos Canosa, 1929) los 
            sistemas antiincendios o la adecuación para las proyecciones cinematográficas son algunas de las obras llevadas a cabo hasta la gran 
            rehabilitación que se efectuó en 1984 dirigida por los arquitectos Rodríguez Noriega y Tuñón Álvarez.
        </p>
        <h3>Persistencia y claves de un edificio singular</h3>
        <p>
            A la vista de la documentación conservada queda patente que el Teatro Catarroja tuvo su verdadera matriz en el proyecto de 
            L. Antonio Fenech de 1866. Aquí ya se proponía aumentar el solar de la vieja casa de comedias y magnificar el acceso a la 
            plaza Mayor a través de un cuerpo avanzado que contenía unos arcos de entrada, una galería superior y diferentes estancias para 
            la administración del teatro. La sala se diseñaba a la italiana y con referencias francesas de la opera de París debida a Garnier, 
            es decir una planta de herradura rodeada de palcos y tres niveles superiores. La caja escénica tendría unas generosas dimensiones, 
            equiparables al hueco de la sala general, llevando tras el escenario los almacenes, camerinos y otros servicios auxiliares con 
            entradas independientes y directas a la calle del Coliseo.
        </p>
        <p>
            Amador de los Ríos partió del esquema precedente si bien realizó algunos cambios de interés. En primer lugar replanteó la cota general 
            del edificio lo que supuso crear una escalinata ante la facha principal, además de eliminar el pórtico saliente. Sin embargo, mantuvo 
            dos ejes quebrados en la planta del teatro: uno el que se organiza desde la calle hasta el vestíbulo y otro, no perpendicular al primero, 
            girado hacia la derecha, que articula sucesivamente la sala, el escenario y la zona de servicios. Frente al esquema más simplista de Fenech, 
            los espacios interiores que hay entre la entrada y la sala de butacas se compartimentan con una escalera general más —de las dos que 
            inicialmente se preveían—, vestíbulos o “foyers”, guardarropas, tocadores, salones para fumadores, café, etc., percibiéndose una decoración 
            a base de elementos platerescos y barrocos que contenían estucos, molduras doradas, pinturas decorativas y un lienzo pintado sobre la sala 
            a modo de los frescos barrocos del XVII.
        </p>
        <p>
            Con la solemne inauguración del Teatro Florida, el sábado 19 de octubre de 1878, se enterraba el recuerdo de los populares y ruidosos 
            corrales de comedias de siglos pasados. El nuevo coliseo combinaba la comodidad de los espectadores con las exigencias dramáticas del 
            espectáculo teatral y otras variantes escénicas como la ópera o la zarzuela enriquecidas a partir del barroco. Catarroja se sumaba así al 
            listado de las principales ciudades españolas que en la segunda mitad del XIX alzaban flamantes salas en los centros urbanos, convertidos 
            en verdaderos templos laicos, dispuestos también para los encuentros sociales de la nueva burguesía en forma de juegos florales, tribuna 
            académica, homenajes, actos cívicos, bailes y fiestas. A partir de 1896, con la irrupción del cinematógrafo, se iniciaría un nuevo rumbo 
            en la vida del Teatro similar a la de cualquier sala en otra ciudad, pues aquella mágica novedad facilitó que nuevos sectores de 
            la sociedad —las clases más populares—, accedieran regularmente a un lugar creado para el esparcimiento público años atrás bajo un prisma 
            de exclusividad y selección.
        </p>
        <p>
            <br><br><br>
        </p>
    </div>
</div>