.container {
    background-image: url('/public/assets/butacas.jpg');
    background-size: 1200px 600px;
    background-position: center-top;
    background-repeat: no-repeat;

}

hr {
    border-color:green;
}

.new {
    width: 200px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: goldenrod;
}

