<div class="container">
    <div>
        <p></p>
    </div>
    <br>
        <br>
        <br>
        <div class="row mt-5">
            <div class="col-xl-3">
                <div class="card" style="width:400px">
                    <img class="card-img-top mr-2" width="300" src="./assets/cartel_vertical_3_1.jpg" alt="Un proyectista usando su calculadora delante del ordenador y su maqueta de casa">
                    <div class="card-body">
                        <p class="card-text"><strong>Día Mundial del Teatro. </strong><br>
                            El próximo 27 de marzo es el Día Mundial del Teatro. Habrán actos diversos a lo largo de la jornada.
                            <br>
                            Consulte la programación.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 offset-xl-1">
                <div class="card ml-2" style="width:400px;">
                    <img class="card-img-top mr-2" src="./assets/cartel_vertical_4_1.jpg" alt="Entrega del premio a un líder de una empresa">
                    <div class="card-body">
                        <p class="card-text">
                            <strong>¡Que trata de España!</strong> <br>
                            Una gran selección de poetas españoles acudirán a recitar las obras
                            seleccionadas por Javier Villán, con la misión de destacar la esencia de 
                            este nuestro país.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 offset-xl-1">
                <div class="card" style="width:400px">
                    <img class="card-img-top mr-2" src="./assets/cartel_vertical_4_2.jpg"  alt="Agentes inmobiliarios cortan la cinta de inauguración de la Feria">
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Una mujer enamorada. </strong><br>
                            ¿Qué no haría una mujer por amor? Esta obra cuenta las aventuras y desventuras
                            de una mujer en esta situación, encajada en las costumbres de las sociedad actual.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>



        <br>
        <br>
        <br>
        <div>
            <p></p>
        </div>
    <div class="row">
        
        <div class="col-xl-12" style="top: 500px;">
            <img src="./assets/mimos.jpg" width="50%" height="auto" alt="Patio de butacas del teatro.">
        </div>
    </div>
    <br>
        <br>
        <br>
        <div>
            <p></p>
        </div>
</div>
