<div class="container-fluid" style="background-color: red;">
    <div class="row">
        <br><br><br>
    </div>
    <div class="row" >
        <div class="col-xl-12 text-center">
            <h1 class="justify-content-center" style="color:burlywood; font-size: 80px;">TEATRO FLORIDA</h1>
        
    </div>
    <div class="row">
        <br><br><br>
        
    </div>
    <div class="row">
        <nav class="nav justify-content-around">
            <a class="nav-link text-white borde-up" routerLink="/inicio" routerLinkActive="active"> Portada</a>
            <a class="nav-link text-white borde-up" routerLink="/cartelera" routerLinkActive="active">Cartelera</a>
            <a class="nav-link text-white borde-up" href="/taquilla">Taquilla</a>
            <a class="nav-link text-white borde-up" href="/ubicacion">Ubicación</a>
            <a class="nav-link text-white borde-up" href="/historia">Historia</a>
        </nav>
    </div>
    <div class="row">
        <h1> </h1>
        
    </div>
</div>
