<div class="container" style="color: white;">
    <div class="row">
        <h1> </h1>
        <h1> </h1>
        <h1> </h1>
        <h1> </h1>
        <h1> </h1>
    </div>
    <div class="row" >
        <div class="col-xl-8 offset-xl-3" >
            <h1 class="justify-content-center" style="color:burlywood; font-size: 80px;">TEATRO FLORIDA</h1>
        </div>
    </div>
    <div class="row">
        <h1> </h1>
        <h1> </h1>
        <h1> </h1>
        
    </div>
    <div class="row">
        <nav class="nav justify-content-around">
            <button class="btn btn-primary"><a class="nav-link" routerLink="/inicio" routerLinkActive="active">INICIO</a></button>
            <a class="nav-link" routerLink="/cartelera" routerLinkActive="active">CARTELERA</a>
            <a class="nav-link" href="/taquilla">TAQUILLA</a>
            <a class="nav-link" href="/ubicacion">UBICACIÓN</a>
            <a class="nav-link" href="/historia">HISTORIA</a>
        </nav>
    </div>
</div>
