<div class="container">
        <div>
            <p></p>
        </div>
        <br>
            <br>
            <br>

    <div class="row">
        <div class="offset-xl-3 col-xl-6"> 
            
            <!--================================== CARRUSEL 5 ==================================-->              
            <div id="mi_carrusel5" class="carousel slide" data-bs-ride="carousel" >

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#mi_carrusel5" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#mi_carrusel5" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#mi_carrusel5" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#mi_carrusel5" data-bs-slide-to="3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-10" src="./assets/i01_cartel_horizontal_1.jpg" alt="Fachada exterior de inmobiliaria">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_horizontal_2.png" alt="Sala interior de oficina">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_horizontal_3.jpg" alt="Despacho interior de oficina">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_horizontal_4.jpg" alt="Vestíbulo de oficina">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#mi_carrusel5" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mi_carrusel5" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>
    </div>
    <br>
            <br>
            <br>
        <div>
            <p></p>
        </div>
        
    <div class="row"> 
        <!-- ========================= CARRUSEL 1 ============================================-->
        <div class="col-xl-3">               
            <div id="mi_carrusel" class="carousel slide" data-bs-ride="carousel" >

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#mi_carrusel" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#mi_carrusel" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#mi_carrusel" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#mi_carrusel" data-bs-slide-to="3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_1.jpeg" alt="Fachada exterior de inmobiliaria">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_2.jpeg" alt="Sala interior de oficina">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_3.jpg" alt="Despacho interior de oficina">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_4.jpg" alt="Vestíbulo de oficina">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#mi_carrusel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mi_carrusel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>

        <div class="col-xl-3">   
            <!-- ========================= CARRUSEL 2 ============================================-->            
            <div id="mi_carrusel2" class="carousel slide" data-bs-ride="carousel" >

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#mi_carrusel2" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#mi_carrusel2" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#mi_carrusel2" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#mi_carrusel2" data-bs-slide-to="3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_2_1.jpg" alt="Fachada exterior de inmobiliaria">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_2_2.jpg" alt="Sala interior de oficina">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_2_3.jpg" alt="Despacho interior de oficina">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_2_4.jpg" alt="Vestíbulo de oficina">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#mi_carrusel2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mi_carrusel2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>

        <div class="col-xl-3">  
            <!-- ========================= CARRUSEL 3 ============================================-->             
            <div id="mi_carrusel3" class="carousel slide" data-bs-ride="carousel" >

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#mi_carrusel3" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#mi_carrusel3" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#mi_carrusel3" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#mi_carrusel3" data-bs-slide-to="3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_3_1.jpg" alt="Fachada exterior de inmobiliaria">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_3_2.jpg" alt="Sala interior de oficina">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_3_3.jpg" alt="Despacho interior de oficina">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_3_4.jpg" alt="Vestíbulo de oficina">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#mi_carrusel3" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mi_carrusel3" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>

        <div class="col-xl-3">   
            <!-- ========================= CARRUSEL 4 ============================================-->            
            <div id="mi_carrusel4" class="carousel slide" data-bs-ride="carousel" >

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#mi_carrusel4" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#mi_carrusel4" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#mi_carrusel4" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#mi_carrusel4" data-bs-slide-to="3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-10" src="./assets/i01_cartel_vertical_4_1.jpg" alt="Fachada exterior de inmobiliaria">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i02_cartel_vertical_4_2.jpg" alt="Sala interior de oficina">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i03_cartel_vertical_4_3.jpg" alt="Despacho interior de oficina">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-10" src="./assets/i04_cartel_vertical_4_4.jpg" alt="Vestíbulo de oficina">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#mi_carrusel4" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mi_carrusel4" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>
    </div>
    <br>
        <br>
        <br>
    <div>
        <p></p>
    </div>
    
    
</div>